[program:etcd]
command=/opt/etcd/start.py --data %(datadir)s cluster --cluster %(cluster)s --discovery-domain %(domain)s
directory=/opt/etcd
user=etcd
autostart=true
autorestart=true
startsecs=10
stopwaitsecs=10
redirect_stderr=true
stdout_logfile=/var/log/etcd/etcd.log
stdout_logfile_maxbytes=1MB
stdout_logfile_backups=10
stdout_capture_maxbytes=1MB
